* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.concurrency {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
}
.transparency {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    margin-top: 10rem;
}

.auth {
  background-image: url('../images/login.jpg');
}
.medico {
  background-image: url('../images/medico.jpg');
}
.paciente {
  background-image: url('../images/paciente.jpg');
  color: white;
}
.citas{
    background-image: url('../images/citas.jpg');
}
.horarios{
    background-image: url('../images/horarios.jpg');
    color: white;
    text-shadow: 1px 1px 1px black;
}
.especialidades{
    background-image: url('../images//especialidades.jpg');
    color: white;
    text-shadow: 1px 1px 1px black;
}